.card {
  background-color: #04082f;
}

.card:hover img {
  transform: scale(1.05);
}

.row {
  text-align: center;
}

.popmv {
  margin-top: 25px;
  margin-bottom: 40px;
}

::ng-deep .carousel-indicators {
  bottom: -4em;
}

::ng-deep .carousel-indicators > li {
  width: 26px;
  height: 4px;
  border-radius: 0;
  margin: 3px;
  opacity: 0.5;
}

::ng-deep .carousel-indicators > .active {
  opacity: 1;
}

::ng-deep .carousel-control-prev {
  left: -115px;
}

::ng-deep .carousel-control-next {
  right: -115px;
}

.card a div.card-img-overlay {
  visibility: hidden;
}
.card a:hover div.card-img-overlay {
  visibility: visible;
}

.card-img-overlay {
  background: linear-gradient(
    to top,
    rgb(0, 0, 0),
    rgb(0, 0, 0),
    rgba(0, 0, 0, 0.9),
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0)
  );
  /* transform: scale(1.1); */
  height: 4.6875em;
  top: 10.625em;
  position: absolute;
  left: 0.4375em;
  width: 93%;
}

.card-text {
  left: 0.875em;
  bottom: 0.625em;
  color: white;
  opacity: 0.9;
  text-align: left;
  font-size: 0.75em;
  position: absolute;
}

.overlay2 {
  visibility: visible;
  background: linear-gradient(
    to top,
    rgb(0, 0, 0),
    rgb(0, 0, 0),
    rgba(0, 0, 0, 0.9),
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0)
  );

  top: 12.125em;
  position: absolute;
  left: 0.875em;
  width: 90%;
  height: 12.5em;
}
.card2 {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #04082f;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

:focus {
  outline: 0 !important;
}

@media only screen and (max-width: 600px) {
  ::ng-deep #ctn .carousel-control-prev {
    left: -2em !important;
  }
  ::ng-deep #ctn .carousel-control-next {
    right: -2em !important;
  }

  .card2:hover {
    transform: scale(1.05);
  }
  .card-text {
    bottom: 1.625em;
  }
}
