<div class ="container-fluid" id="recommend" *ngIf="!isEmpty">
    <!-- <h3 *ngIf='detail_type =="movie"' class="commonone des">Recommended Movies</h3>
    <h3 *ngIf='detail_type =="tv"' class="commonone des">Recommended TVs</h3> -->

    <h3 *ngIf='isSmallScreen && detail_type =="movie"' style="text-align: center;"><b>Recommended Movies</b></h3>
    <h3 *ngIf='!isSmallScreen && detail_type =="movie"' class="commonone des"><b>Recommended Movies</b></h3>

    <h3 *ngIf='isSmallScreen && detail_type =="tv"' style="text-align: center;"><b>Recommended TVs</b></h3>
    <h3 *ngIf='!isSmallScreen && detail_type =="tv"' class="commonone des"><b>Recommended TVs</b></h3>

    <div class="text-left container recommend des">
        <ngb-carousel #carousel interval="0" class ="recommend"  [showNavigationIndicators]="false" *ngIf="isSmallScreen">
            <ng-template ngbSlide *ngFor="let item of detail_recommend">
                <div class="row d-flex justify-content-center">
                    <div class="col-9 col-xs-9 col-sm-9 col-md-2 col-lg-2  card2">
                        <a href="/watch/{{detail_type}}/{{item.id}}">
                            <img class="card-img" src="https://image.tmdb.org/t/p/w500{{item.poster_path}}" style="width:100%">
                            <div class="overlay2">
                                    <p *ngIf='detail_type =="movie"' class="card-text">
                                        {{item.title}}
                                    </p>
                                    <p *ngIf='detail_type =="tv"'class="card-text">
                                        {{item.name}}
                                    </p>
                            </div>
                        </a>
                    </div>
                </div>
            </ng-template>
        </ngb-carousel>

        <ngb-carousel #carousel interval="0" class ="recommend" *ngIf="!isSmallScreen">
            <ng-template ngbSlide *ngFor="let group of temp2">
                <div class="row">
                    <div class="col-9 col-xs-9 col-sm-9 col-md-2 col-lg-2  card" *ngFor="let item of group; let i = index">
                        <a href="/watch/{{detail_type}}/{{item.id}}">
                            <img class="card-img" src="https://image.tmdb.org/t/p/w500{{item.poster_path}}" style="width:100%">
                            <div class="card-img-overlay" style="top: 157px;">
                                    <p *ngIf='detail_type =="movie"' class="card-text">
                                        {{item.title}}
                                    </p>
                                    <p *ngIf='detail_type =="tv"'class="card-text">
                                        {{item.name}}
                                    </p>
                            </div>
                        </a>
                    </div>
                </div>
            </ng-template>
        </ngb-carousel>
    </div>
</div>