<div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 des">
            <h3 class= "commonone"><b>Description</b></h3>
            <p style="opacity: 0.7;">{{detail_overview}}</p>
        </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
        <h3 class ="ss commonone"><b>Share</b></h3>
    </div>
    <div class="row">
        <div class="col-5 col-xs-3 col-sm-3 col-md-4 col-lg-2">
            <a class="fab fa-twitter col-6 col-xs-6 col-sm-6 col-md-6 col-lg-3 fa-2x" target="_blank" href="https://twitter.com/intent/tweet?text=https://www.youtube.com/watch?v={{detail_youtube}}"
            data-size="large">
            </a>
            <a class="fab fa-facebook-square col-6 col-xs-6 col-sm-6 col-md-6 col-lg-3 fa-2x" style='color:#2300ff' target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https://www.youtube.com/watch?v={{detail_youtube}}" >
            </a>
        </div>
    </div>
</div>